@import "tailwindcss";
/* responsive design */
@media screen and (max-width: 576px) {
  #name,
  .hamburger {
    display: inline;
    margin: 15px;
  }

  .banner {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 3rem !important;
  }

  #images {
    width: 260px !important;
    height: 260px !important;
    margin: 0 auto;
  }

  #microphone,
  #badge,
  #circle {
    transform: none !important;
    inset: auto !important;
  }
  #microphone {
    width: 80px;
    height: 80px;
  }
  #badge {
    position: absolute !important;
    top: 30px !important;
    right: 10px !important;
    font-size: 10px !important;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  body {
    overflow-x: hidden;
  }

  .subscribe-btn,
  .menus,
  .images {
    display: none;
  }
  /* about */
  .about-content {
    padding: 10px;
  }
  .card-box {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content,
  .card-box {
    padding: 40px 10px;
    margin: 0 auto;
  }
}/* 576px – 991px medium device*/
@media screen and (min-width: 577px) and (max-width: 992px) {
  .menus {
    gap: 10px;
  }
  .hamburger {
    display: none;
  }


  .banner {
    padding-top: 5rem !important; 
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #images {
    width: 320px !important;
    height: 320px !important;
    margin: 0 auto !important;
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    left: auto !important;
    right: auto !important;
  }



  #circle {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }
  #microphone,
  #badge {
    position: relative;
    transform: translate(0, 0) !important;
    display: block;
    margin: 0 auto;
    left: auto;
    right: auto;
  }
  #microphone {
    width: 150px !important ;    
    height: auto !important;
    position: relative !important;
    z-index: 10 !important;
    transform: none !important; 
    margin: 0 !important;

  }
  #badge {
    position: absolute !important;
     z-index: 20 !important;
    top: 40px !important;
    right: 20px !important;
    transform: none !important; 
    font-size: 1rem !important;
    padding: 4px 12px !important;
    } }
    /* about */
  .about-content {
    padding: 20px;
  }
  .card-box {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
    /* 992px+ large device */
@media screen and (min-width: 993px) {
  #navbar {
    padding: 16px 200px;
    margin: 0 auto;
  }
  .subscribe-btn {
    margin-left: 120px;
  }
  .hamburger {
    display: none;
  }
} 
      